* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type:none;
}

a {
  text-decoration: none;
}

nav {
  display:flex;
  justify-content: space-around;
  min-height: 10vh;
  align-items: center;
  font-family: inter;
  background-color: grey;
  color: white

}

nav .logo {
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
}

nav .nav-links {
  display:flex;
  justify-content: space-around;
  width: 35%;
}

nav ,.nav-links a {
  font-size: 19px;
  font-weight: normal;
}

nav ,.nav-links a:hover {
  border-bottom: 1px solid white;
}